<div class="technology">
  <div class="content container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card no-margin">
          <div class="card-section">
            <h1 class="card-title">Search Filters Page</h1>
          </div>
          <div class="card-section">
            <form id="searchFiltersForm" name="searchFiltersForm" novalidate>
              <div class="row">
                <div class="form-group col-md-7">
                  <label for="enterprise-name">Enterprise Name</label>
                  <input id="searchInputName" type="text" class="form-control" id="enterprise-name" name="enterpriseName" placeholder="Ex.: CI&T" required="" maxlength="30">
                </div>
                <div class="form-group col-md-12">
                  <label for="single-button">Employee Range</label><br/>
                  <div class="btn-group" uib-dropdown>
                    <select class="form-control">
                      <option label="Select..." value="">Select...</option>
                    </select>
                  </div>
                </div>
                
                <div class="form-group col-md-12">
                  <label>Enterprise Type:</label>
                  <div class="checkbox">
                    <label class="checkbox-inline"><input type="checkbox" name="type">Type name</label>
                    <span>No types registered yet...</span>
                  </div>
                </div>
                <div class="form-inline col-md-12 text-right">
                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
                  <a href="#"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Enterprise</button></a>
                  <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Clear Filters</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="col-md-10 col-md-offset-1">
        <div class="card no-margin">
          <div class="card-section">
            <h1 class="card-title">Search Filters Results</h1>
          </div>
          <div class="card-section">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Employees</th>
                  <th>WebSite</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>No records found...</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
